<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- article.title %></title>
</head>
<body>
    <%- include('nav'); %>
    <div>
        <h3><%- article.title %></h3>
        <p><%- article.author.full_name %><br/><%- article.created_at.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %></p>
        <p>Content:<br/><%- article.content %></p>
        <span>Likes: <button><%- article.likes %></button></span>
    </div>
</body>
</html>